/* Write your CSS here */
.app-container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  border-radius: 10px;
  border-style: none;
}

.heading {
  color: #ff8542;
}
